# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/

# IDE settings
.vscode/

# Temporary or log files
*.log
*.tmp

# Operating system files
.DS_Store
Thumbs.db

# Project-specific ignores

results/focus.csv
results/todo.csv
results/focus.db

# Keep the README files
!README.md
!BLANK_README.md